body {
    background: #f0f0f0;
}

body, html {
    height: 100%;
}

#main {
    height: 100%;
}

.section-first {
    padding: 13% 0;
    height: 100%;
}

.section{
    height:100%;
}

#dot-nav {
    right: 10px;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    z-index: 999;
}

    #dot-nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #dot-nav li {
        position: relative;
        background-color: #4E342E;
        border: 3px solid #4E342E;
        border-radius: 15px 15px 15px 15px;
        cursor: pointer;
        padding: 5px;
        height: 10px;
        margin: 10px 10px 0px 0px;
        width: 10px;
        vertical-align: bottom;
    }

        #dot-nav li.active, #dot-nav li:hover {
            background-color: #F58634;
        }

    #dot-nav a {
        outline: 0;
        vertical-align: top;
        margin: 0px 0px 0px 25px;
        position: relative;
        top: -5px;
    }

.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #F58634;
    color: #f5f5f5;
    border: 1px solid #F58634;
}

.awesome-tooltip + .tooltip.left > .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #F58634;
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../images/popravilogo-transparent.png) no-repeat;
    background-size: cover;
}

#logoImage {
    display:block;
    width:100%;
    margin:auto;
}

#store-icons {
    position: absolute;
    bottom: 20px;
    margin-left: -225px;
    width: 450px;
    height: 61px;
    left: 50%;
}

.play-store {
    display: inline-block;
    float: left;
    width: 239px;
    height: 40px;
}

.app-store {
    display: inline-block;
    float: right;
    width: 207px;
    height: 40px;
}

#img-play-store {
    float: left;
    width: 100%;
}

#img-app-store {
    float: right;
    width: 100%;
}

.overlay-section {
    z-index: 1030;
    background-color: white;
    opacity: 0.7;
    width: 40%;
    margin: auto;
    padding: 20px;
}

.btn-danger, .btn-danger:hover, .btn-danger:focus {
    background-color: #F58634!important;
    border-color: #F58634!important;
}

.section-image {
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.last-article {
    margin-bottom:100px;
}

body::-webkit-scrollbar { 
    display: none; 
}
