﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Administrator</title>
</head>
<body class="body-background">
    <div ng-app="adminModule" class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title"></h1>
                <div class="account-wall">
                    <img class="profile-img" src="Content/Images/popravilogo-transparent.png" alt="">
                    <form name="loginForm" class="form-signin" ng-controller="loginController" ng-submit="submitAdminForm()" novalidate="novalidate">
                        <div class="form-group">
                            <span class="fix-height">
                                <span class="input-validation" ng-show="(loginForm.username.$dirty || submitted) && loginForm.username.$error.required">
                                    Korisničko ime je obavezno
                                </span>
                            </span>
                            <input name="username" ng-model="username" ng-required="true" type="text" class="form-control focus" placeholder="Korisničko ime">
                        </div>

                        <div class="form-group">
                            <span class="fix-height">
                                <span class="input-validation" ng-show="(loginForm.password.$dirty || submitted) && loginForm.password.$error.required">
                                    Šifra je obavezna
                                </span>
                            </span>
                            <input name="password" ng-model="password" ng-required="true" type="password" class="form-control" placeholder="Šifra">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary btn-block" id="logIn">
                                Prijavi se
                            </button>
                        </div>

                        <label class="checkbox pull-left margin-left-20">
                            <input ng-model="rememberMe" type="checkbox">
                            Zapamti me
                        </label>

                        <a href="#" class="pull-right need-help">Zaboravili ste šifru? </a><span class="clearfix"></span>
                    </form>
                </div>
                <div class="alert alert-danger margin-top-10 hidden">
                    <strong>Greška!</strong> <span class="login-message"></span>
                </div>
            </div>
        </div>
        <div ui-view="test.html"></div>
    </div>
</body>
</html>
<link href="Content/Styles/Bootstrap/bootstrap.css" rel="stylesheet" />
<link href="Content/Styles/Style.css" rel="stylesheet" />
<script src="Scripts/Plugins/Angular/angular.min.js"></script>
<script src="Scripts/Plugins/jQuery/jquery-3.1.0.min.js"></script>
<script src="Scripts/App/utility.js"></script>
<script src="Scripts/App/admin.js"></script>
