﻿body {
    background: #4E342E;
}

a {
    color: #F58634 !important;
}

.form-control:focus {
    border-color: #F58634 !important;
}

.btn-primary {
    background-color: #F58634 !important;
    border-color: #4E342E !important;
}

    .btn-primary:hover {
        background-color: #4E342E !important;
        border-color: #4E342E !important;
    }

    .btn-primary:focus,
    .btn-primary.focus {
        background-color: #4E342E !important;
        border-color: #4E342E !important;
    }

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.input-validation {
    color:red;
    height:20px!important;
}

.fix-height {
    height:20px!important;
    display:block;
}

#logIn {
    margin-top:30px;
}

    .form-signin .form-signin-heading, .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

.account-wall {
    margin-top: 160px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.login-title {
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.need-help {
    margin-top: 10px;
}

.new-account {
    display: block;
    margin-top: 10px;
}

/*Margins*/
.margin-left-20 {
    margin-left: 20px !important;
}

.margin-top-10 {
    margin-top:10px!important;
}
/*End of Margins*/
